In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
with open('books.html','r',encoding='utf-8') as f:
    html = f.read()

In [4]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\raghv\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\raghv\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from bs4 import BeautifulSoup

In [6]:
soup = BeautifulSoup(html)

In [7]:
containers=soup.find_all('div' ,{'class':'slAVV4'})

In [30]:
# Lists to hold the extracted data
titles = []
ratings = []
prices = []


# Iterate through each book container
for i in containers:
    # Extract title
    a_tag = i.find('a', {'class': 'wjcEIp'})
    if a_tag:
        title = a_tag.text.strip()  # Extract text from the <a> tag and strip whitespace
        titles.append(title)
    else:
        titles.append('Unknown book')
    rating_tag = i.find('div', {'class': '_5OesEi afFzxY'})
    if rating_tag:
        # Assuming 'span id' is incorrect; typically 'id' should be a separate attribute, not within a tag.
        rating_span = rating_tag.find('span')  # Find <span> inside the div
        if rating_span:
            rating_div = rating_span.find('div', {'class': 'XQDdHH'})
            if rating_div:
                rating = rating_div.text.strip()  # Extract text from the <div> tag and strip whitespace
                ratings.append(rating)
            else:
                ratings.append('0')  # No rating div found
        else:
            ratings.append('0')  # No span found
    else:
        ratings.append('3') 
    price_tag= i.find('a',{'class':'DMMoT0'})
    if price_tag:
        price_div=price_tag.find('div',{'class':'hl05eU'})
        if price_div:
            price_div2= price_div.find('div',{'class':'Nx9bqj'})
            if price_div2:
                prices.append(price_div2.text.strip())
            else:
                prices.append(np.nan)
        else:
            prices.append(np.nan)
    else:
            prices.append(np.nan)         
print("ray:", ratings)

ray: ['4.4', '4.5', '3', '3', '3', '3', '3', '4.3', '3', '3', '4.5', '3.8', '3', '3', '3', '3', '4.3', '4', '3', '3', '4.4', '4.4', '3', '4.5', '3', '3', '4.6', '4.5', '3', '3', '4.3', '4.1', '3', '3', '3', '3', '4.1', '5', '3', '3']

In [31]:
dict={
    'Title': titles,
    'Price': prices,
    'Rating': ratings
}

In [32]:
df=pd.DataFrame(dict)

In [33]:
df

                                                Title   Price Rating
0                 The Game of Life and How to Play It     ₹95    4.4
1                                Man Eaters of Kumaon    ₹143    4.5
2                           Eastbound through Siberia  ₹2,280      3
3                                 Midnight in Siberia  ₹2,280      3
4                   Travels in Kamtchatka and Siberia  ₹2,293      3
5                  Calligraphy Workbook for Beginners    ₹407      3
6                                Discovering Potatoes    ₹711      3
7                                     Teen. Tharikida    ₹150    4.3
8   Early voyages and travels to Russia and Persia...    ₹762      3
9                                              Umbria  ₹2,280      3
10                                 Risk Edu Thalaivaa    ₹125    4.5
11                                   Americavil Kicha    ₹165    3.8
12                                     Trim Idea Book    ₹983      3
13                                  The Shredded Chef  ₹2,280      3
14                               Persian Cats as Pets    ₹892      3
15                           Frommer's San Diego 2009  ₹2,280      3
16                            Bharat-China Lac Takrav    ₹300    4.3
17                              The Great Indian Diet    ₹400      4
18                               Bosnia & Herzegovina  ₹1,587      3
19                              Hilariously Infertile  ₹1,254      3
20  Rashtriya Shiksha Neeti-2020 Bhartiyata Ka Pun...    ₹400    4.4
21                                     Adhutha Vinadi    ₹150    4.4
22            Aunt Bea's Irresistible Ice Cream Cakes  ₹1,793      3
23                     Oxford Student Atlas for India    ₹342    4.5
24                                   Dungeon Core 101    ₹836      3
25                                              Trust  ₹2,280      3
26                               Pengalin Andharangam    ₹170    4.6
27                                   Uravugal Membada    ₹190    4.5
28                                    It's All a Game    ₹799      3
29                     Calligraphy Book for Beginners    ₹530      3
30                        Chhatrapati Shivaji Maharaj    ₹400    4.3
31                                 Zero Oil Cook Book    ₹167    4.1
32                         Risky Foods, Safer Choices  ₹2,280      3
33                         Guys Can Be Cat Ladies Too  ₹2,280      3
34                                      San Francisco  ₹2,280      3
35                                    Terra Incognita    ₹899      3
36                        Zero Oil 151 Nashte Namkeen    ₹195    4.1
37                                  The Book of Enoch    ₹142      5
38                                       Thanksgiving  ₹2,280      3
39                                  East End Memories  ₹2,280      3

In [39]:
df.to_csv('WEB_BOOKS')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   40 non-null     object
 1   Price   40 non-null     object
 2   Rating  40 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [36]:
df['Price'] = df['Price'].replace({'₹': '', ',': ''}, regex=True).astype(float)