In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
with open('books.html','r',encoding='utf-8') as f:
    html = f.read()

In [42]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\raghv\appdata\local\programs\python\python312\lib\site-packages (4.12.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: soupsieve>1.2 in c:\users\raghv\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.5)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [43]:
from bs4 import BeautifulSoup

In [44]:
soup = BeautifulSoup(html)

In [45]:
containers=soup.find_all('div' ,{'class':'slAVV4'})

In [46]:
# Lists to hold the extracted data
titles = []
ratings = []
prices = []


# Iterate through each book container
for i in containers:
    # Extract title
    a_tag = i.find('a', {'class': 'wjcEIp'})
    if a_tag:
        title = a_tag.text.strip()  # Extract text from the <a> tag and strip whitespace
        titles.append(title)
    else:
        titles.append('Unknown book')
    rating_tag = i.find('div', {'class': '_5OesEi afFzxY'})
    if rating_tag:
        # Assuming 'span id' is incorrect; typically 'id' should be a separate attribute, not within a tag.
        rating_span = rating_tag.find('span')  # Find <span> inside the div
        if rating_span:
            rating_div = rating_span.find('div', {'class': 'XQDdHH'})
            if rating_div:
                rating = rating_div.text.strip()  # Extract text from the <div> tag and strip whitespace
                ratings.append(rating)
            else:
                ratings.append('0')  # No rating div found
        else:
            ratings.append('0')  # No span found
    else:
        ratings.append('3') 
    price_tag= i.find('a',{'class':'DMMoT0'})
    if price_tag:
        price_div=price_tag.find('div',{'class':'hl05eU'})
        if price_div:
            price_div2= price_div.find('div',{'class':'Nx9bqj'})
            if price_div2:
                prices.append(price_div2.text.strip())
            else:
                prices.append(np.nan)
        else:
            prices.append(np.nan)
    else:
            prices.append(np.nan)         
print("ray:", ratings)

ray: ['4.4', '4.4', '3', '3', '3', '3', '3', '4.5', '3', '3', '4.3', '4.3', '3', '3', '3', '3', '4.3', '3.7', '3', '3', '4.6', '4', '3', '3', '3', '4.5', '4.3', '4.4', '3', '3', '4.4', '4.4', '3', '3', '3', '3', '4.5', '4.4', '3', '3']

In [47]:
dict={
    'Title': titles,
    'Price': prices,
    'Rating': ratings
}

In [48]:
df=pd.DataFrame(dict)

In [49]:
df

                                                Title   Price Rating
0           Relaxing Mandala Coloring Book for Adults    ₹139    4.4
1            Fashion Mandala Coloring Book for Adults    ₹139    4.4
2                           Eastbound through Siberia  ₹2,280      3
3                                 Midnight in Siberia  ₹2,280      3
4                   Travels in Kamtchatka and Siberia  ₹2,293      3
5                  Calligraphy Workbook for Beginners    ₹407      3
6                                Discovering Potatoes    ₹711      3
7                      Word Search  - By Miss & Chief    ₹139    4.5
8                            Free Plants for Everyone  ₹1,151      3
9   Early voyages and travels to Russia and Persia...    ₹762      3
10                   Mandala Coloring Book for Adults    ₹155    4.3
11  Master Residential Real Estate - A Comprehensi...  ₹1,490    4.3
12                                             Umbria  ₹2,280      3
13                                     Trim Idea Book    ₹983      3
14                                  The Shredded Chef  ₹2,280      3
15                               Persian Cats as Pets    ₹892      3
16                                              Loser    ₹189    4.3
17  Mind Master  - Hindi Translation of Mind Maste...    ₹405    3.7
18                           Frommer's San Diego 2009  ₹2,280      3
19                               Bosnia & Herzegovina  ₹1,587      3
20              500 Sudoku Brain Game for Smart Minds    ₹369    4.6
21                              The Great Indian Diet    ₹180      4
22                              Hilariously Infertile  ₹1,254      3
23  Through Bosnia and the Herzegovina on Foot dur...  ₹3,105      3
24            Aunt Bea's Irresistible Ice Cream Cakes  ₹1,793      3
25                     Oxford Student Atlas for India    ₹342    4.5
26                        Chhatrapati Shivaji Maharaj    ₹349    4.3
27                                             Walden    ₹169    4.4
28                                   Dungeon Core 101    ₹836      3
29                     Calligraphy Book for Beginners    ₹530      3
30          The Portrait Of A Super Student 1 Edition    ₹289    4.4
31                The Game of Life and How to Play It     ₹95    4.4
32                                              Trust  ₹2,280      3
33                         Risky Foods, Safer Choices  ₹2,280      3
34                A Field Guide to the English Clergy    ₹899      3
35                         Guys Can Be Cat Ladies Too  ₹2,280      3
36                               Man Eaters of Kumaon    ₹143    4.5
37                                   One Life to Ride    ₹229    4.4
38                                      San Francisco  ₹2,280      3
39                                    Terra Incognita    ₹899      3

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   40 non-null     object
 1   Price   40 non-null     object
 2   Rating  40 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [51]:
df['Price'] = df['Price'].replace({'₹': '', ',': ''}, regex=True).astype(float)

In [53]:
df.to_csv('WEB_BOOKS')